@model CreateUserViewModel

@{
    string password = "SDG%$@5423sdgagSDert";
}

<h1>
    @password
</h1>
 

<form method="post" asp-action="Create" asp-controller="Users">
    
    <div class="df">

        <div class="w-50">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="c-red"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Email" class="c-red"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="c-red"></span>
            </div>


            <hr />


            <div class="form-group">
                <label asp-for="Imie"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="c-red"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="c-red"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ulica"></label>
                <input asp-for="Ulica" class="form-control" />
                <span asp-validation-for="Ulica" class="c-red"></span>
            </div>

            <div class="form-group">
                <label asp-for="KodPocztowy"></label>
                <input asp-for="KodPocztowy" class="form-control" />
                <span asp-validation-for="KodPocztowy" class="c-red"></span>
            </div>

            <div class="form-group">
                <label asp-for="Miejscowosc"></label>
                <input asp-for="Miejscowosc" class="form-control" />
                <span asp-validation-for="Miejscowosc" class="c-red"></span>
            </div>

            <div class="form-group">
                <label asp-for="Kraj"></label>
                <select asp-for="Kraj" asp-items='@new SelectList(new List<string>() { "Polska" })'></select>
                <span asp-validation-for="Kraj" class="c-red"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telefon"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="c-red"></span>
            </div>

            <div class="form-group">
                <label asp-for="RodzajOsoby"></label>
                <select asp-for="RodzajOsoby" asp-items='@new SelectList(Enum.GetNames(typeof(RodzajOsoby)))'></select>
                <span asp-validation-for="RodzajOsoby" class="c-red"></span>
            </div>




            <hr />

            <div class="form-group">
                <label asp-for="OswiadczeniaConfirmed"></label>
                <input asp-for="OswiadczeniaConfirmed" class="form-control" />
                <span asp-validation-for="OswiadczeniaConfirmed" class="c-red"></span>
            </div>

            <div class="form-group">
                <label asp-for="Newsletter"></label>
                <input asp-for="Newsletter" class="form-control" />
                <span asp-validation-for="Newsletter" class="c-red"></span>
            </div>
        </div>


        <div class="w-50">
            @foreach (var role in await Context.Roles.ToListAsync())
            { 
                string roleName = role.Name;
                string roleNamForName = $"{role.Name}ForName";
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="@roleNamForName" name="SelectedRoles" value="@roleName" @(Model.SelectedRoles != null && Model.SelectedRoles.Contains(roleName) ? "checked" : "") />
                    <label class="form-check-label" for="@roleNamForName">@roleName | </label> 
                </div>
            }
        </div>

    </div>


    <input type="submit" value="Register" class="btn btn-primary" />
</form>

<br />
@if (!string.IsNullOrEmpty(Model.RegisterResult))
{
    <p class="text-danger">
        @Model.RegisterResult
    </p>
}